<div class="container mt-3">
	<div class="row">
		<div class="col-md-3"></div>
		<div class="col-md">
			<h2 class="text-center mb-2">Add new</h2>
			<form action="/" method="POST">
				<div class="mb-3">
					<label for="namaDivisi" class="form-label">Divisi</label>
					<select class="form-select" aria-label="Default select example" name="namaDivisi" id="namaDivisi">
						<option selected disabled="true">Pilih Divisi</option>
						<option value="kerohanian">Kerohanian</option>
						<option value="kewirausahaan">Kewirausahaan</option>
						<option value="minat bakat">Minat & Bakat</option>
						<option value="pendidikan">Pendidikan</option>
						<option value="TIK">TIK</option>
						<option value="sekretariat">Sekretariat</option>
					</select>
				</div>
				<div class="mb-3">
					<label for="namaProker" class="form-label">Program Kerja</label>
					<input type="text" class="form-control" id="namaProker" name="namaProker" />
				</div>
				<div class="mb-3">
					<label for="penanggungJawab" class="form-label">Penanggung Jawab</label>
					<input type="text" class="form-control" id="penanggungJawab" name="penanggungJawab" />
				</div>
				<div class="mb-3 mt-1">
					<label for="status" class="form-label">Status</label>
					<select class="form-select" aria-label="Default select example" name="status" id>
						<option selected disabled="true">Pilih Status</option>
						<option value="1">Selesai</option>
						<option value="0">Belum Selesai</option>
					</select>
				</div>
				<button type="submit" class="btn btn-primary">Submit</button>
			</form>
		</div>
		<div class="col-md-3"></div>
	</div>
</div>
